.THIS a.dd-headline {
    color: #333!important;
    text-decoration: none;
}

.THIS a.dd-headline:hover {
    text-decoration: none;
}

.THIS .text-right{
	text-align:right!important;
}

.THIS .text-disabled{
	opacity: 0.5;
}