.THIS.container {	width: 100%;
	padding: 10px 0px;
	margin: 0px;
}

.THIS .center {
	margin: 0px auto;
}

.THIS .content {
	max-width: 768px;
	font-size: 12px;
	color: #3c3d3e;
}

.THIS .datePicker-openIcon{
	margin-left:100%!important;
	margin-top:-50px!important;
}

.THIS .textarea-height {
	height:54px!important;
}

.THIS .noShadow{
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
}

.THIS .hideIt{
    display: none;
}

.THIS .toolt{
	width:200px;
	background-color:#337ab7;
	position:absolute;
	top:30px;
	left:100px;
}

.THIS .form-group{
    height:70px;
}