.THIS.container {	width: 100%;
	padding: 10px 0px;
	margin: 0px;
}

.THIS .center {
	margin: 0px auto;
}

.THIS .content {
	max-width: 768px;
	font-size: 12px;
	color: #3c3d3e;
}

.THIS .image {
    display: none;
    height:50px;
    width:auto;
    -webkit-box-shadow: 2px 3px 2px 3px rgba(196,192,196,1);
    -moz-box-shadow: 2px 3px 2px 3px rgba(196,192,196,1);
    box-shadow: 2px 3px 2px 3px rgba(196,192,196,1);
}

.THIS .row {
    padding: 5px;
}

.THIS .row p{
    margin: 0;
}

.THIS .alert{
    margin: 0 !important;
}

.THIS .btn {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.THIS .smallFont, .THIS .bigFont{
    font-family: Arial, Helvetica, sans-serif;
}

.THIS .smallFont {
    font-size: 12px;
}

.THIS .bigFont {
    font-size: 15px;
}

.THIS .bold{
    font-weight: bold;
}

.THIS .table{
    margin-bottom: 5px !important;
}

.THIS .tablePad{
    padding-top: 5px !important;
}

.THIS .alert{
    min-height: 50px;
    max-height: 55px;
    padding:8px !important;
}

.THIS .vbot{
    vertical-align: bottom;
}

.THIS #fadingDiv{
    display:none;
}