.THIS.container {	width: 100%;
	padding: 10px 0px;
	margin: 0px;
}

.THIS .center {
	margin: 0px auto;
}

.THIS .content {
	max-width: 768px;
	font-size: 12px;
	color: #3c3d3e;
}

.THIS th{
	text-align: center!important;
}

.THIS td > input {
	font-size:11px!important;
	text-align: right!important;
}

.THIS td > .uiOutputNumber {
	font-size:11px!important;
	text-align: right!important;
}

.THIS .input-mark {
	background-color: rgb(44, 100, 191)!important;
	color: white!important;
}

.THIS.hideIt{
    display: none;
}

.THIS.toolt{
	background-color:#337ab7; 
	left: 200px;
	top: 40px;
}