.THIS.container {	width: 100%;
	padding: 10px 0px;
	margin: 0px;
}

.THIS .center {
	margin: 0px auto;
}

.THIS .content {
	max-width: 768px;
	font-size: 12px;
	color: #3c3d3e;
}

.THIS .text-right{
	text-align:right!important;
}

.THIS .text-disabled{
	opacity: 0.5;
}

.THIS .yieldErr{
	border: solid 2px #B22222;
}

.THIS .yieldErrTxt{
	color:#B22222;
	padding:3px;
}

.THIS .form-group{
    height:70px;
}

.THIS .myCheckbox{
    padding-bottom: 23px !important;
}

.THIS .hideIt{
    display:none;
}